page-fan-choice {
	.result {
		font-size: 2rem;
	}
	/* overwrite input ionic styling*/ 
	.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
		border-bottom: 1px solid #dedede;
		box-shadow: none;
	}

	.center {
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	}
	.equation > span {
	    display:block;
	   	width:100px;
	   	height: 100%;
	   	margin: 0 auto;
	}
}